/* brand */
body {
  font-size: 14px;
  background-color: #eff3f3;
  top: 0px;
}
section {
  position: relative;
}
.container {
  position: relative;
  max-width: 960px;
}
.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
}
.navbar-inverse {
  background: none;
  border: none;
}
.showcase .item {
  background: #00141a;
  text-align: center;
}
.showcase .item a {
  display: block;
  margin: auto;
}
.showcase .item a img {
  display: block;
  margin: auto;
}
.nav.navbar-nav > li > a {
  line-height: 90px;
  padding: 0px 30px 0px 30px;
  margin: 30px 10px 30px 10px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.9);
  border-left: 3px solid #d04448;
  font-family: 'chaparral_proregular', serif;
}
.nav.navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
@media (min-width: 768px) {
  .nav.navbar-nav > li > a {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.navbar-brand {
  display: inline-block;
  line-height: 90px;
  margin: 20px 10px 30px 10px;
}
.navbar-toggle {
  border: none;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background: none;
}
.hero {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  height: 300px;
  overflow-y: hidden;
  z-index: 0;
}
.hero.truncated {
  max-height: 150px;
}
.hero.truncated .hero-text {
  display: none;
}
.hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  font-weight: 100;
  font-family: 'chaparral_proregular', serif;
  letter-spacing: 0.3em;
}
.hero h1 {
  font-family: 'league_gothicCnRg', sans-serif;
  color: #bbc0c2;
  letter-spacing: 0.108em;
  font-size: 3em;
  margin-bottom: 0.2em;
}
.hero .divider {
  position: absolute;
  height: 3px;
  width: 90%;
  margin-left: 5%;
  background-color: #d04448;
  bottom: 2.2em;
}
.hero > .container {
  padding-top: 5em;
  position: relative;
  height: 300px;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
}
.hero .blur-overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 300px;
  background-image: url('../images/apc_hero_bg_blur.png');
  background-size: cover;
  background-position: center center;
  opacity: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
}
.hero .background-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 300px;
  background-image: url('../images/apc_hero_bg.png');
  background-size: cover;
  background-position: center center;
}
.intro,
.category-nav {
  background-color: #eff3f3;
  text-align: center;
  padding: 3.7em 0em 2em 0em;
  z-index: 10;
}
.intro p,
.category-nav p {
  font-size: 1.3em;
  line-height: 1.5655em;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'chaparral_proitalic', serif;
}
.intro i,
.category-nav i {
  font-size: 0.5em;
  color: rgba(0, 0, 0, 0.3);
}
.category-nav {
  display: block;
  padding: 0;
}
.category-nav.minimize {
  display: none;
}
.category-nav #category-selector {
  padding: 3.7em 0em 2em 0em;
}
.category-nav #category-selector-expand {
  display: none;
  margin-bottom: 0em;
  cursor: pointer;
}
.category-nav .category-wrap {
  display: table;
  width: 100%;
  max-width: 300px;
  margin: auto;
  position: relative;
  margin-bottom: 3em;
}
.category-nav .category {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  height: 200px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.category-nav .category h1 {
  text-transform: uppercase;
  font-family: 'chaparral_proregular', serif;
  font-size: 0.9em;
  background-color: rgba(5, 18, 23, 0.7);
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  display: inline-block;
  bottom: 0px;
  width: auto;
  text-align: left;
  padding: 1em 0em 1em 1em;
  margin: 0;
  letter-spacing: 0.1em;
  z-index: 1;
}
.category-nav .category h1 .glyphicon {
  margin-top: -0.2em;
  margin-left: 0.4em;
}
.category-nav .category .overlay {
  background-color: #0b2637;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.3s;
}
.category-nav #luxury {
  background-image: url('../images/apc_luxury.jpg');
}
.category-nav #multi-townhouse {
  background-image: url('../images/apc_multi_townhouse.jpg');
}
.category-nav #dual-occupancy {
  background-image: url('../images/apc_dual_occupancy.jpg');
}
.gallery-collapse {
  position: relative;
  text-align: center;
  display: none;
  cursor: pointer;
  color: #d04448;
  opacity: 0.6;
  font-family: 'Gudea', sans-serif;
  padding: 1em;
}
.gallery-collapse.shown {
  display: block;
}
.gallery {
  background-color: #fdfffd;
}
.collection {
  display: none;
  padding: 0em 0em 3em 0em;
  text-align: center;
}
.collection h1 {
  font-family: 'chaparral_proitalic', serif;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  font-size: 2.1em;
  background: none;
  padding: 1em 0em 1em 0em;
}
.collection ul {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  padding: 0;
  list-style-type: none;
}
.collection ul:before,
.collection ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.collection ul:after {
  clear: both;
}
.collection ul li {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .collection ul li {
    float: left;
    width: 33.33333333333333%;
  }
}
.collection ul li a {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 200px;
  margin-bottom: 2em;
  cursor: pointer;
}
.collection ul li a img {
  max-width: 100%;
}
.collection.show {
  display: block;
}
.contact-line {
  padding: 2em 0em 2em 0em;
  background-color: #fdfffd;
}
.contact-line h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'chaparral_proitalic', serif;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}
.contact-line p {
  color: #0a2634;
  font-family: 'chaparral_proitalic', serif;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}
.features {
  background-color: #eff3f3;
  padding: 60px 0px 60px 0px;
}
.features .feature {
  text-align: center;
}
.features .feature img {
  max-width: 100%;
  display: inline-block;
}
.features .feature h1 {
  margin-top: 0.45em;
  font-family: 'chaparral_proitalic', serif;
  font-size: 2em;
}
.features .feature p {
  font-family: 'Gudea', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1em;
  line-height: 1.85em;
  letter-spacing: 0.01em;
  margin: 1.05em 1.4em;
}
.testimonials {
  background-color: #fdfffd;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
.testimonials .container {
  padding-top: 3.4em;
  padding-bottom: 3em;
}
.testimonials .item p {
  font-family: 'chaparral_proitalic', serif;
  font-size: 1.4em;
}
.testimonials .item span {
  font-family: 'Gudea', sans-serif;
}
.testimonials .item img {
  width: 32px;
  border-radius: 32px;
}
.badges {
  text-align: center;
  background-color: #eff3f3;
}
.badges .container {
  padding: 2.5em 0em 2.5em 0em;
}
.badges img {
  max-width: 80%;
}
form[name="contact"] {
  margin-top: 2em;
}
form[name="contact"] input,
form[name="contact"] textarea {
  background-color: #fefefe;
  font-size: 1.3em;
  border: solid 1px rgba(218, 218, 218, 0.7);
  box-shadow: inset 0px 0px 1px #ffffff;
  padding: 0.8em 1.2em 0.8em 1.2em;
  width: 100%;
  margin-bottom: 2%;
  font-weight: 100;
  letter-spacing: 0.05em;
}
form[name="contact"] textarea {
  width: 100%;
  min-height: 10em;
}
form[name="contact"] input[type="submit"] {
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 100;
  background-color: #0a2634;
  color: #fdfffd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 1.3em 2.3em 1.3em 2.3em;
  border: none;
  border-radius: 0.3em;
  width: auto;
}
.others {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1em;
  letter-spacing: 0.02em;
  font-weight: 300;
  font-family: 'Gudea', sans-serif;
  background-color: #fdfffd;
  box-shadow: 0px 3px 3px 0px rgba(123, 123, 123, 0.24);
}
.others h3 {
  text-align: center;
  padding: 1.5em 0em 1.5em 0em;
  font-family: 'chaparral_proitalic', serif;
  font-size: 1.3em;
}
.others label {
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
.others .container {
  padding-bottom: 3em;
}
footer {
  min-height: 250px;
  position: relative;
  background: #00141a;
}
#map_canvas {
  width: 100%;
  height: 300px;
}
.property-album {
  text-align: center;
  background-color: #eff3f3;
  padding-top: 2em;
  padding-bottom: 2em;
  display: none;
}
.property-album .thumbnails {
  display: block;
  margin: auto;
  text-align: left;
}
.property-album .thumb {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  margin-right: 5px;
  background-color: #bbc0c2;
  margin-top: 5px;
  cursor: pointer;
}
.property-album .big-image {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.property-album.shown {
  display: block;
}
.property-album .property {
  display: none;
}
.property-album .property.shown {
  display: block;
}
.property-album #back-to-category {
  cursor: pointer;
  color: #d04448;
  font-size: 1em;
  opacity: 0.7;
  display: block;
  text-align: left;
  font-family: 'Gudea', sans-serif;
}
#see-more-houses {
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 100;
  margin-top: 2em;
  background-color: #0a2634;
  color: #fdfffd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 1.3em 2.3em 1.3em 2.3em;
  border: none;
  border-radius: 0.3em;
  width: auto;
}
@media (min-width: 481px) {
  .hero {
    height: 500px;
  }
  .hero p {
    font-size: 1em;
  }
  .hero h1 {
    font-family: 'league_gothicCnRg', sans-serif;
    color: #bbc0c2;
    letter-spacing: 0.108em;
    font-size: 3.5em;
    margin-bottom: 0.2em;
  }
  .hero .divider {
    width: 90%;
    margin-left: 5%;
    height: 3px;
  }
  .hero > .container {
    padding-top: 15em;
    height: 500px;
  }
  .hero .blur-overlay {
    height: 500px;
    background-size: cover;
  }
  .hero .background-image {
    height: 500px;
    background-size: cover;
  }
  .intro p {
    font-size: 1.5em;
    line-height: 1.5655em;
    letter-spacing: 0.04em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'chaparral_proitalic', serif;
  }
  .intro i {
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.3);
  }
  form[name="contact"] input {
    width: 49%;
  }
  .others {
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(123, 123, 123, 0.24);
  }
  .others h3 {
    font-size: 1.5em;
  }
  #map_canvas {
    height: 400px;
  }
  .property-album .big-image {
    height: 250px;
  }
}
@media (min-width: 768px) {
  .others {
    font-size: 1em;
    text-align: left;
  }
  .others h3 {
    font-size: 1.5em;
  }
  .category-nav.minimize {
    display: block;
  }
  .category-nav .category {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    height: 300px;
  }
  .category-nav .category h1 {
    margin-top: 3em;
    margin-left: 0;
    width: 85%;
    padding: 2em 0em 2em 2em;
  }
  .category-nav .category:hover .overlay {
    opacity: 0;
  }
  .category-nav .category:hover h1 {
    color: rgba(255, 255, 255, 0.9);
  }
  .category-nav .category .overlay {
    opacity: 0.6;
  }
  .category-nav .category.selected .overlay {
    opacity: 0;
  }
  .category-nav .category.selected h1 {
    color: rgba(255, 255, 255, 0.9);
  }
  .gallery-collapse.shown {
    display: none;
  }
  #category-selector.collapse {
    display: block;
  }
  #category-selector.collapse #category-selector-expand {
    display: block;
  }
  #category-selector.collapse .category-wrap {
    display: table;
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: relative;
    margin-bottom: 3em;
  }
  #category-selector.collapse .category {
    cursor: pointer;
    display: table-cell;
    height: auto;
    vertical-align: middle;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #category-selector.collapse .category h1 {
    margin-top: 0em;
  }
  .property-album {
    text-align: center;
    background-color: #eff3f3;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .property-album .thumbnails {
    display: block;
    margin: auto;
    text-align: left;
  }
  .property-album .thumb {
    width: 10em;
    height: 10em;
    display: block;
    float: left;
    margin-right: 2em;
    background-color: #bbc0c2;
    margin-top: 2em;
    cursor: pointer;
  }
  .property-album .big-image {
    height: 400px;
  }
  .contact-line {
    padding: 2em 0em 2em 0em;
    background-color: #fdfffd;
  }
  .contact-line h1 {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'chaparral_proitalic', serif;
    font-size: 2.1em;
    font-weight: 100;
    text-align: center;
  }
  .contact-line p {
    color: #0a2634;
    font-family: 'chaparral_proitalic', serif;
    font-size: 2.1em;
    font-weight: 100;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .hero {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 606px;
  }
  .hero p {
    font-size: 1.1em;
  }
  .hero h1 {
    font-size: 4.86em;
    margin-bottom: 0;
  }
  .hero .divider {
    height: 5px;
    width: 100%;
    margin-left: 0;
  }
  .hero > .container {
    padding-top: 19em;
    height: 606px;
  }
  .hero .blur-overlay {
    height: 606px;
    background-size: 100% auto;
  }
  .hero .background-image {
    height: 606px;
    background-size: 100% auto;
  }
  .intro,
  .category-nav {
    margin-top: 606px;
  }
  .intro p,
  .category-nav p {
    font-size: 2.1em;
  }
  .category-nav .category {
    height: 400px;
    display: table-cell;
    vertical-align: top;
  }
  .category-nav .category h1 {
    color: rgba(255, 255, 255, 0.6);
  }
  .category-nav.collapse {
    margin-top: 150px;
  }
  .testimonials {
    text-align: center;
  }
  .testimonials .item p {
    font-size: 1.9em;
  }
  .badges img {
    max-width: 100%;
  }
  .others {
    text-align: left;
    box-shadow: 0px 10px 10px 0px rgba(123, 123, 123, 0.24);
    z-index: 10000;
  }
  .others h3 {
    font-size: 2.1em;
  }
  .others .info {
    font-size: 1.5em;
    padding-bottom: 2em;
  }
  .property-album .big-image {
    height: 450px;
  }
  #map_canvas {
    height: 430px;
  }
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.animated.hinge {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}
@-o-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 0;
    display: 0;
    -o-transform: translateX(20px);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}
.hide {
  display: none!important;
}
